
/* 2019-05-29 */
 /*初始化类*/
 @charset "UTF-8";
 html,body {
   -webkit-touch-callout:none;
   -webkit-text-size-adjust:none;
   -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
   -webkit-user-select:none;
   width: 100%;
   background-color: #fff
 }
 body {
   line-height: 1.5;
   font-size: 0.8rem;
   color: #212121;
   /* background-color: #f5f5f5; */
   outline: 0;
 }
 html,body,header,section,footer,div,ul,ol,li,img,a,span,em,del,legend,center,strong,var,fieldset,form,label,dl,dt,dd,cite,input,hr,time,mark,code,figcaption,figure,textarea,h1,h2,h3,h4,h5,h6,p{
   margin:0;
   border:0;
   padding:0;
   font-style:normal;
 }
 * {
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   -webkit-user-select: none;
   -webkit-tap-highlight-color: transparent;
   outline: none;
 }
 
 /* img {
	max-width: 100%;
	display: block;
} */
 ul, li {
   list-style: none;
 }
 p {
   font-size: 0.7rem;
   color: #757575;
 }
 a {
   color: #0062cc;
   text-decoration: none;
   background-color: transparent;
 }

 
header,footer,section{
	display: block;
}
ol,ul{
	list-style:none;
}
input,button,textarea {
	border:0;
	margin:0;
	padding:0;
	font-size:1em;
	line-height:1em;
	/*-webkit-appearance:none;*/
	background-color:rgba(0, 0, 0, 0);
}


 textarea {
   overflow: hidden;
   resize: none;
 }

 button,input,select,textarea {
   font: inherit;
   color: inherit;
 }
 

input[type="text"],
input[type="password"],
select,
textarea {
    border: none;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 2.2rem;
    line-height: normal;
    color: #424242;
    font-size: 0.75rem;
    font-family: inherit;
    box-sizing: border-box;
    -webkit-user-select: text;
            user-select: text;
    -webkit-appearance: none;
            appearance: none;
}
input[type="search"]::-webkit-search-cancel-button {
	display: none;
}


 .loading_more{
	display: block;
	height: 1.5em;
	width: 100%;
}
.loading_more:before {
	display: inline-block; vertical-align: text-bottom;
	content: ' '; height: 16px; width: 16px; margin-right: 6px;
	/* background: url(../image/loading_more.gif) no-repeat center; */
	-webkit-background-size: contain;
	background-size: contain;
} 
.loading_more:after {
	content: '加载更多';	
}


/* --------------- -----margin------- ------------------ */

.mAuto {
  margin: 0 auto
}

.m-5 {
  margin: 0.25rem;
}

.m-10 {
  margin: 0.5rem;
}

.m-15 {
  margin: 0.75rem;
}

.m-20 {
  margin: 1rem;
}

.m-30 {
  margin: 1.5rem;
}

.m-40 {
  margin: 2rem;
}

.m-h-auto{
  margin-left: auto;
  margin-right: auto;
}
.m-h-5 {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.m-h-10 {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.m-h-15 {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.m-h-20 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.m-h-30 {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.m-h-40 {
  margin-right: 2rem;
  margin-left: 2rem;
}

.m-h-50 {
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}

.m-v-5 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.m-v-10 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.m-v-15 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.m-v-20 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-v-30 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.m-v-40 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.m-v-50 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.m-t-auto{
  margin-top: auto;
}
.m-t-5 {
  margin-top: 0.25rem;
}

.m-t-10 {
  margin-top: 0.5rem;
}

.m-t-15 {
  margin-top: 0.75rem;
}

.m-t-20 {
  margin-top: 1rem;
}

.m-t-30 {
  margin-top: 1.5rem;
}

.m-t-40 {
  margin-top: 2rem;
}

.m-t-50 {
  margin-top: 2.5rem;
}

.m-r-auto {
  margin-right: auto;
}

.m-r-5 {
  margin-right: 0.25rem;
}

.m-r-10 {
  margin-right: 0.5rem;
}

.m-r-15 {
  margin-right: 0.75rem;
}

.m-r-20 {
  margin-right: 1rem;
}

.m-r-30 {
  margin-right: 1.5rem;
}

.m-r-40 {
  margin-right: 2rem;
}

.m-r-50 {
  margin-right: 2.5rem;
}

.m-b-5 {
  margin-bottom: 0.25rem;
}

.m-b-10 {
  margin-bottom: 0.5rem;
}

.m-b-15 {
  margin-bottom: 0.75rem;
}

.m-b-20 {
  margin-bottom: 1rem;
}

.m-b-30 {
  margin-bottom: 1.5rem;
}

.m-b-40 {
  margin-bottom: 2rem;
}

.m-b-50 {
  margin-bottom: 2.5rem;
}

.m-l-auto {
  margin-left: auto;
}

.m-l-5 {
  margin-left: 0.25rem;
}

.m-l-10 {
  margin-left: 0.5rem;
}

.m-l-15 {
  margin-left: 0.75rem;
}

.m-l-20 {
  margin-left: 1rem;
}

.m-l-30 {
  margin-left: 1.5rem;
}

.m-l-40 {
  margin-left: 2rem;
}

.m-l-50 {
  margin-left: 2.5rem;
}


/* --------------- -----margin------- ------------------ */

.p-5 {
  padding: 0.25rem;
}

.p-10 {
  padding: 0.5rem;
}

.p-15 {
  padding: 0.75rem;
}

.p-20 {
  padding: 1rem;
}

.p-30 {
  padding: 1.5rem;
}

.p-40 {
  padding: 2rem;
}

.p-50 {
  padding: 2rem;
}

.p-h-5 {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

.p-h-10 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.p-h-15 {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.p-h-20 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.p-h-30 {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.p-h-40 {
  padding-right: 2rem;
  padding-left: 2rem;
}

.p-h-50 {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.p-v-5 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.p-v-10 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p-v-15 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.p-v-20 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p-v-30 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.p-v-40 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.p-v-50 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.p-t-5 {
  padding-top: 0.25rem;
}

.p-t-10 {
  padding-top: 0.5rem;
}

.p-t-15 {
  padding-top: 0.75rem;
}

.p-t-20 {
  padding-top: 1rem;
}

.p-t-30 {
  padding-top: 1.5rem;
}

.p-t-40 {
  padding-top: 2rem;
}

.p-t-50 {
  padding-top: 2.5rem;
}

.p-r-5 {
  padding-right: 0.25rem;
}

.p-r-10 {
  padding-right: 0.5rem;
}

.p-r-15 {
  padding-right: 0.75rem;
}

.p-r-20 {
  padding-right: 1rem;
}

.p-r-30 {
  padding-right: 1.5rem;
}

.p-r-40 {
  padding-right: 2rem;
}

.p-b-5 {
  padding-bottom: 0.25rem;
}

.p-b-10 {
  padding-bottom: 0.5rem;
}

.p-b-15 {
  padding-bottom: 0.75rem;
}

.p-b-20 {
  padding-bottom: 1rem;
}

.p-b-30 {
  padding-bottom: 1.5rem;
}

.p-b-40 {
  padding-bottom: 2rem;
}

.p-b-50 {
  padding-bottom: 2.5rem;
}

.p-b-60 {
  padding-bottom: 3rem;
}

.p-l-5 {
  padding-left: 0.25rem;
}

.p-l-10 {
  padding-left: 0.5rem;
}

.p-l-15 {
  padding-left: 0.75rem;
}

.p-l-20 {
  padding-left: 1rem;
}

.p-l-30 {
  padding-left: 1.5rem;
}

.p-l-40 {
  padding-left: 2rem;
}

.p-l-50 {
  padding-left: 2.5rem;
}


.imgCover{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.iconfont{
  width: 1.1rem;
  height: 1.1rem;
}


.pos-fc {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
}

.pos-fbc {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translate3d(-50%, 0%, 0);
  -webkit-transform: translate3d(-50%, 0%, 0);
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

.pos-ac {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
}

.pos-mc {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.tran-c {
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.color-f{
  color: #fff;
}
.color-6{
  color: #666;
}
.color-3{
  color: #333;
}

.z-1 {
  z-index: -1;
}

.z50 {
  z-index: 50;
}
.z100 {
  z-index: 100;
}

.z200 {
  z-index: 200;
}

.z300 {
  z-index: 300;
}

.z400 {
  z-index: 400;
}

.z1000 {
  z-index: 1000;
}

.f14{
  font-size: 0.7rem;
}
.f15{
  font-size: 0.75rem;
}
.f16{
  font-size: 0.8rem;
}


.bb-1-e{
  border-bottom: thin solid #eee;
}

.bg-e{
  background-color: #eee;
}


.text-over-one {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.text-over-two {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text-over-three {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.text-over-four {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}